*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(6, 9, 34);
    background: radial-gradient(circle, rgba(6, 9, 34, 1) 0%, rgba(8, 24, 62, 1) 100%);   
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 120px;
}
header{
    margin: 10px 20px;
    display: flex;
    align-items: center;
}
header img{
    width: 100px;
}

.container, .output{
    margin: 20px 50px;
}
.description{
    font-size: 35px;
    margin: 20px 50px;
}

.container .row{
    display: flex;
    margin: 50px;
}
.container .col-4{
    background: rgb(6, 9, 34);
    background: radial-gradient(circle, rgb(11, 16, 59) 0%, rgb(9, 31, 82) 80%);
    margin-right: 30px;
    padding: 30px;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(37, 37, 221, 0.2) 0px 7px 29px 0px;
}
.container .col-4:hover{
    transform: scale(1.05);
}

.search-box{
    display: flex;
    justify-content: center;
    margin: 20px 50px;  
    padding: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.search{
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    width: 100%;
    background-color: #050C25;
    color: rgb(180, 166, 166);
    outline: none;
}

.search-btn{
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: #050C25;
    color: rgb(180, 166, 166);
    cursor: pointer;
}

.question, .answer{
    display: flex;
    margin: 50px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

.output i {
    margin-right: 20px;
    font-size: 22px;
}



